<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rs.etf.pki.android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android"
        tools:targetApi="31">
        <activity
            android:name=".AnimalDetailsActivity"
            android:exported="false"
            android:label="AnimalDetailsActivity"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".AnimalsActivity"
            android:exported="false"
            android:label="AnimalsActivity"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".ContactActivity"
            android:exported="false"
            android:label="ContactActivity"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".EventsActivity"
            android:exported="false"
            android:label="EventsActivity"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="LoginActivity"
            android:theme="@style/Theme.Android">
        </activity>
        <activity
            android:name=".NotificationsActivity"
            android:exported="false"
            android:label="NotificationsActivity"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:label="RegisterActivity"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".TicketsActivity"
            android:exported="false"
            android:label="TicketsActivity"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false"
            android:label="UserProfileActivity"
            android:theme="@style/Theme.Android" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>