<app-header></app-header>

<br />

<div class="row">
  <div class="col-12">
    <h3>Kontakt</h3>
  </div>
</div>

<hr />

<div class="content">
  <div class="row">
    <div class="col-md-2 offset-md-4 alignRight"><b>Lokacija:</b></div>
    <div class="col-md-3 alignLeft"><b>Pande Pandića 1, 11000 Beograd</b></div>
  </div>
  <div class="row">
    <div class="col-md-2 offset-md-4 alignRight"><b>Broj telefona:</b></div>
    <div class="col-md-3 alignLeft"><b>011 12 345 67</b></div>
  </div>
  <div class="row">
    <div class="col-md-2 offset-md-4 alignRight"><b>Mejl:</b></div>
    <div class="col-md-3 alignLeft"><b>pandica.zoo@mail.com</b></div>
  </div>
</div>
