<app-header></app-header>

<br />

<div class="row">
  <div class="col-12">
    <h3>Dodaj novo desavanje</h3>
  </div>
</div>

<hr />

<div class="content">
  <form>
    <div class="row">
      <div class="col-12 col-md-2 offset-md-4 alignRight"><b> Naziv: </b></div>
      <div class="col-12 col-md-4 alignLeft">
        <input type="text" name="name" [(ngModel)]="name" />
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-2 offset-md-4 alignRight"><b>Opis:</b></div>
      <div class="col-12 col-md-4 alignLeft">
        <input type="text" name="description" [(ngModel)]="description" />
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-2 offset-md-4 alignRight"><b>Slika:</b></div>
      <div class="col-12 col-md-4 alignLeft">
        <input type="file" accept="image" (change)="selectImage($event)" />
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-12 col-md-1 offset-md-6 alignLeft">
        <input
          type="button"
          class="btn buttonGreen"
          value="Dodaj"
          (click)="addEvent()"
        />
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-12 col-md-4 offset-md-5 alignLeft">
      <span class="error">{{ msgError }}</span>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-12">
      <h3>Desavanja</h3>
    </div>
  </div>

  <hr />

  <div class="row" *ngIf="events != null && events.length == 0">
    <div class="col-md-12">Nema desavanja.</div>
  </div>

  <div class="row" *ngIf="events != null && events.length > 0">
    <div class="col-12 col-md-1 offset-md-3"><b>Slika</b></div>
    <div class="col-12 col-md-2"><b>Naziv</b></div>
    <div class="col-12 col-md-2"><b>Opis</b></div>
  </div>

  <br />

  <div *ngFor="let event of events; let i = index">
    <div class="row">
      <div class="col-12 col-md-1 offset-md-3">
        <img [src]="pictures.get(event.id)" *ngIf="changingInfo != i" />
        <input
          type="file"
          accept="image"
          (change)="changeImage($event)"
          *ngIf="changingInfo == i"
        />
      </div>
      <div class="col-12 col-md-2">
        <p *ngIf="changingInfo != i">{{ event.name }}</p>
        <input type="text" [(ngModel)]="changeName" *ngIf="changingInfo == i" />
      </div>
      <div class="col-12 col-md-2">
        <p *ngIf="changingInfo != i">{{ event.description }}</p>
        <input
          type="text"
          [(ngModel)]="changeDescription"
          *ngIf="changingInfo == i"
        />
      </div>
      <div class="col-12 col-md-2">
        <input
          type="button"
          class="btn buttonGreen"
          value="Izmeni"
          (click)="beginChangingInfo(i)"
          *ngIf="changingInfo != i"
        />
        &nbsp;
        <input
          type="button"
          class="btn buttonGreen"
          value="Obrisi"
          (click)="deleteEvent(i, event.id)"
          *ngIf="changingInfo != i"
        />
        &nbsp;
        <input
          type="button"
          class="btn buttonGreen"
          value="Potvrdi"
          (click)="submitChangingInfo(event.id)"
          *ngIf="changingInfo == i"
        />
        &nbsp;
        <input
          type="button"
          class="btn buttonGreen"
          value="Odustani"
          (click)="cancelChangingInfo()"
          *ngIf="changingInfo == i"
        />
      </div>
    </div>
    <br />
  </div>
</div>
